html, body {
    width: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background: #0b0b0b;
    overflow: hidden;
  }

  #calculadora {
    position: relative;
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    margin: 10% auto;
    border-radius: 15px;
  }
  #lblsal {
    position: absolute;
    width: 100px;
    margin: 40px 30px;
    font-family: 'Source Sans Pro', sans-serif; color: #0b0b0b;
    font-weight: 700;
  }
  #sal::-webkit-inner-spin-button, #sal::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #sal {
    position: absolute;
    width: 70px;
    margin: 60px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #bdc3c7;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  }
  #sal:hover {
    position: absolute;
    width: 70px;
    margin: 60px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #bdc3c7;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transform: scale(1.05);
  }
  #sal:focus {
    position: absolute;
    width: 70px;
    margin: 60px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #74b9ff;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  #lblhor {
    position: absolute;
    width: 100px;
    margin: 90px 30px;
    white-space: nowrap;
    font-family: 'Source Sans Pro', sans-serif; color: #0b0b0b;
    font-weight: 700;
  }
  #hor::-webkit-inner-spin-button, #hor::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #hor {
    position: absolute;
    width: 70px;
    margin: 110px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #bdc3c7;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  }
  #hor:hover {
    position: absolute;
    width: 70px;
    margin: 110px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #bdc3c7;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transform: scale(1.05);
  }
  #hor:focus {
    position: absolute;
    width: 70px;
    margin: 110px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #74b9ff;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  #lblhorex {
    position: absolute;
    width: 100px;
    margin: 140px 30px;
    white-space: nowrap;
    font-family: 'Source Sans Pro', sans-serif; color: #0b0b0b;
    font-weight: 700;
  }
  #horex::-webkit-inner-spin-button, #hor::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #horex {
    position: absolute;
    width: 70px;
    margin: 160px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #bdc3c7;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  }
  #horex:hover {
    position: absolute;
    width: 70px;
    margin: 160px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #bdc3c7;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transform: scale(1.05);
  }
  #horex:focus {
    position: absolute;
    width: 70px;
    margin: 160px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #74b9ff;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  #lblind {
    position: absolute;
    width: 100px;
    margin: 190px 30px;
    white-space: nowrap;
    font-family: 'Source Sans Pro', sans-serif; color: #0b0b0b;
    font-weight: 700;
  }
  #ind::-webkit-inner-spin-button, #ind::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #ind {
    position: absolute;
    width: 70px;
    margin: 210px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #bdc3c7;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  }
  #ind:hover {
    position: absolute;
    width: 70px;
    margin: 210px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #bdc3c7;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transform: scale(1.05);
  }
  #ind:focus {
    position: absolute;
    width: 70px;
    margin: 210px 30px;
    background-color: #bdc3c7;
    border-style: solid;
    border-color: #74b9ff;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  button {
    position: relative;
    display: block;
    float: left;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    letter-spacing: 0;
    padding-left: 5px;
    font-weight: bold;
    background: #74b9ff;
    cursor:pointer;
    overflow: hidden;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif; color: #f1f1f1;
    font-size: 18px;

    -webkit-user-select: none; /* remove seleção */
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;

    transition: all 0.3s ease-in-out; /* transition */
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
button:hover {
  position: relative;
  display: block;
  float: left;
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  letter-spacing: 0;
  padding-left: 5px;
  font-weight: bold;
  background: #0984e3;
  cursor:pointer;
  overflow: hidden;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif; color: #f1f1f1;
  font-size: 18px;

  -webkit-user-select: none; /* remove seleção */
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;

  transition: all 0.3s ease-in-out; /* transition */
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
button:active {
  position: relative;
  display: block;
  float: left;
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  letter-spacing: 0;
  padding-left: 5px;
  font-weight: bold;
  background: #6c5ce7;
  transform: scale(1.1);
  cursor:pointer;
  overflow: hidden;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif; color: #f1f1f1;
  font-size: 18px;

  -webkit-user-select: none; /* remove seleção */
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;

  transition: all 0.3s ease-in-out; /* transition */
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    pointer-events: none;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.ripple.show {
    -webkit-animation: ripple .45s ease-out;
    animation: ripple .45s ease-out;
}
@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

#calculo {
    margin: 250px 30px;
}
#result {
  position: absolute;
  margin: 320px 30px;
  font-family: 'Source Sans Pro', sans-serif; color: black;
  font-size: 18px;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}
#limpar {
  background: #f1f1f1;
  position: absolute;
  margin: 260px 150px;
  width: 50px;
  height: 20px;
  transform: scale(0);
  font-family: 'Source Sans Pro', sans-serif; color: #74b9ff;
  font-size: 12px;
}
#limpar:hover {
  background: #e6e6e6;
  position: absolute;
  margin: 260px 150px;
  width: 50px;
  height: 20px;
  transform: scale(0);
  font-family: 'Source Sans Pro', sans-serif; color: #74b9ff;
  font-size: 12px;
}
#switchlogo {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 20px 450px;
  cursor: pointer;
}
#switch {
  position: absolute;
  margin: 20px 320px;
  width: 120px;
  height: 0px;
  overflow: hidden;
  background: #f1f1f1;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
#switch.active {
  position: absolute;
  margin: 20px 320px;
  width: 120px;
  height: 111px;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
#horaextra {
  position: absolute;
  width: 120px;
  height: 30px;
  background: #f1f1f1;
  font-family: 'Source Sans Pro', sans-serif; color: black; padding-left: 15px; padding-top: 5px;
  cursor: pointer;
}
#horaextra:hover {
  position: absolute;
  width: 120px;
  height: 30px;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif; color: black; padding-left: 15px; padding-top: 5px;
  cursor: pointer;
}
#periculosidade {
  position: absolute;
  width: 120px;
  height: 30px;
  margin: 35px 0px;
  background: #f1f1f1;
  font-family: 'Source Sans Pro', sans-serif; color: black; padding-left: 10px; padding-top: 10px;
  cursor: pointer;
}
#periculosidade:hover {
  position: absolute;
  width: 120px;
  height: 30px;
  margin: 35px 0px;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif; color: black; padding-left: 10px; padding-top: 10px;
  cursor: pointer;
}
#insalubridade {
  position: absolute;
  width: 120px;
  height: 30px;
  margin: 75px 0px;
  background: #f1f1f1;
  font-family: 'Source Sans Pro', sans-serif; color: black; padding-left: 13px; padding-top: 10px;
  cursor: pointer;
}
#insalubridade:hover {
  position: absolute;
  width: 120px;
  height: 30px;
  margin: 75px 0px;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif; color: black; padding-left: 13px; padding-top: 10px;
  cursor: pointer;
}
#transferencia {
  position: absolute;
  width: 120px;
  height: 30px;
  margin: 75px 0px;
  background: #f1f1f1;
  font-family: 'Source Sans Pro', sans-serif; color: black; padding-left: 13px; padding-top: 10px;
  cursor: pointer;
}
#transferencia:hover {
  position: absolute;
  width: 120px;
  height: 30px;
  margin: 75px 0px;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif; color: black; padding-left: 13px; padding-top: 10px;
  cursor: pointer;
}